{% extends "inventory/base.html" %}
{% block title %}
 Approval Details
{% endblock %}
{% block content %}

<h2>Approval Entry Card</h2>
<!-- <button value="2" name="approve">Approve</button>|<button value="3" name="reject">Reject</button> -->
{% if approvalentry.status == '1'%}
<a href="{% url 'inventory:approval-update' approvalentry.id %}">Approve|Reject</a>
{% endif %}
<ul>
    <li>Requester: {{ approvalentry.requester }}</li>
    <li>Document Number: {{ approvalentry.document_number }}</li>
    <li>Details: {{ approvalentry.details}}</li>
    <li>Amount: {{ approvalentry.amount}}</li>
</ul>
{% endblock %}