{% extends "inventory/base.html" %}

  {% block title %}e-Chemist{% endblock title %}


{% block content %}
  <h1>Inventory System</h1>
  <p>
    Welcome to e-Chemist, a website developed by
    <em>Goro Collins</em>!
  </p>
  <h2>Dynamic content</h2>
  <p>The chemist has the following record counts:</p>
  <ul>
    <li><strong>Number of Items:</strong> {{ num_items }}</li>
    <li><strong>Number of Vendors:</strong> {{ num_vendors }}</li>
    <li><strong>Number of Sales Invoices:</strong> {{ num_invoices }}</li>
    <li><strong>Numver of Purchase Orders:</strong> {{ num_lpos }}</li>
  </ul>
  <p>Your workload</p>
  <li><strong>Pending LPOs:</strong>{{pending_lpo}}</li>
  <li><strong>Open LPOs:</strong>{{open_lpo}}</li>
  <p>Key KPIs</p>
  <ul>
  <li><strong>Total Sales: </strong>Ksh. {{total_sales}}</li>
  <li><strong>Total Purchase Order Values: </strong>Ksh. {{lpos_value}}</li>
  </ul>
  <p>
    You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>
{% endblock %}
