{% extends "inventory/base.html" %}
{% load widget_tweaks %}
{% block title %}
    Items
{% endblock %}
{% block content %}
    <h1>List of Items</h1>
    <a href="{% url 'inventory:item-add' %}">Create Item</a>
    <form method="get">
        {% csrf_token %}
        <div class="input-group search">
            {% render_field filter.form.description class="form-control textinput" placeholder="Search by item name" %}
            <div class="input-group-append">
               <button type="submit" class="btn btn-pink"> Search </button>
            </div>
        </div>
    </form>
   <ul>
        {% for item in item_list %}
        <li><a href="{% url 'inventory:item-detail' item.pk %}">{{item.code}}</a>&nbsp; {{item.description}}</li>
        {% endfor %}
    </ul>      
{% endblock %}

