{% extends "inventory/base.html" %}
{% block title %}
    Purchase Orders
{% endblock %}
{% block content %}
    <h1>List of Purchase Orders</h1>
    <a href="{% url 'inventory:purchaseorder-create' %}">Create Purchase Order</a>
    <ul>
        {% for lpo in purchaseheader_list %}
            {% if lpo.status != '3' %}
            <li><a href="{% url 'inventory:purchaseorder-detail' lpo.number %}">{{lpo.number}}</a>&#124; {{lpo.vendor}}&#124; Ksh.{{lpo.total}}
            {% endif %}
        {% endfor %}
    </ul>
        
{% endblock %}