{% extends "inventory/base.html" %}
{% block title %}
    Purchase Order Details
{% endblock %}
{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<a href="{% url 'inventory:purchaseorders' %}">Purchase Orders List</a>
    <h1>Purchase Order Card</h1>
    {% if purchaseheader.status == '2' %}
        <a href="{% url 'inventory:lpoprintout' purchaseheader.number %}" target="_blank">Generate PDF</a>
        <a href="{% url 'inventory:purchaseorder-receive' purchaseheader.number %}">Receive</a>
    {% elif purchaseheader.status == '0' %}
    <form method="post">
        {% csrf_token %} <!-- Place it here, outside the if condition -->
        <button id="create-approval-request">Send Approval Request</button>
    </form> | <a href="{% url 'inventory:purchaseorder-update' purchaseheader.number %}">Edit</a>
    {% elif purchaseheader.status == '1' %}
    <form method="post">
        {% csrf_token %}
        <button id="cancel-approval-request">Cancel Approval Request</button>
    </form>
    {% elif purchaseheader.status == '3' %}
    {% endif %}
    <ul>
        <li><strong>Number:</strong>{{purchaseheader.number}}</li>
        <li><strong>Vendor:</strong>{{purchaseheader.vendor}}</li>
        <li><strong>Date:</strong>{{purchaseheader.date}}</li>
        <li><strong>Total:</strong>{{purchaseheader.total}}</li>
        <li><strong>Status:</strong>{{purchaseheader.get_status_display}}</li>
        <li><strong>Created By:</strong>{{purchaseheader.created_by}}</li>
        <li><strong>Modified By:</strong>{{purchaseheader.modified_by}}</li>
        <li><strong>Modified:</strong>{{purchaseheader.last_modified_at}}</li>
    </ul>
    <h2>Purchase Order Lines</h2>
    <table>
        <tr>
            <th>Purchase Order Number</th>
            <th>Item</th>
            <th>Batch</th>
            <th>Quantity Requested</th>
            <th>Unit Price</th>
            <th>Expiry Date</th>
            <th>Total</th>
            <th>Markup</th>
            <th>Quantity Supplied</th>
            <th>Supplier Invoice Number</th>
        </tr>
        {% for line in purchaseheader.lines.all %}
        <tr>
            <td>{{line.number}}</td>
            <td><a href="{% url 'inventory:item-detail' line.item_id%}">{{line.item}}</a></td>
            <td>{{line.batch}}</td>
            <td>{{line.quantity_requested}}</td>
            <td>{{line.unit_price}}</td>
            <td>{{line.expiry_date}}</td>
            <td>{{line.total}}</td>
            <td>{{line.markup}}</td>
            <td>{{line.quantity_received}}</td>
            <td>{{line.invoice_no}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function() {
        $("#create-approval-request, #cancel-approval-request").click(function() {
            var documentNumber = "{{ purchaseheader.number }}";
            var amount = "{{ purchaseheader.total }}";
            var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
            var action = $(this).attr('id') === 'create-approval-request' ? 'create' : 'cancel';

            $.ajax({
                url: "{% url 'inventory:purchaseorder-detail' purchaseheader.number %}",
                method: "POST",
                data: {
                    document_number: documentNumber,
                    amount: amount,
                    action: action,
                    csrfmiddlewaretoken: csrfToken
                },
                success: function(data) {
                    // Handle success response, if needed
                    console.log(data.message);
                },
                error: function(xhr, status, error) {
                    // Handle error response, if needed
                    console.error("Error: " + error);
                }
            });
        });
    });
</script>

{% endblock %}
