{% extends "inventory/base.html" %}
{% block title %}
    Purchase Order Details
{% endblock %}
{% block content %}
    <h1>Purchase Order Card</h1>
    <ul>
        <li><strong>Number:</strong>{{purchaseheader.number}}</li>
        <li><strong>Vendor:</strong>{{purchaseheader.vendor}}</li>
        <li><strong>Date:</strong>{{purchaseheader.date}}</li>
        <li><strong>Total:</strong>{{purchaseheader.total}}</li>
        <li><strong>Status:</strong>{{purchaseheader.get_status_display}}</li>
        <li><strong>Created By:</strong>{{purchaseheader.created_by}}</li>
        <li><strong>Modified By:</strong>{{purchaseheader.modified_by}}</li>
        <li><strong>Modified:</strong>{{purchaseheader.last_modified_at}}</li>
    </ul>
    <h2>Purchase Order Lines</h2>
    <table>
        <tr>
            <th>Purchase Order Number</th>
            <th>Item</th>
            <th>Batch</th>
            <th>Quantity Requested</th>
            <th>Unit Price</th>
            <th>Expiry Date</th>
            <th>Total</th>
            <th>Markup</th>
            <th>Quantity Supplied</th>
            <th>Supplier Invoice Number</th>
        </tr>
        {% for line in purchaseheader.lines.all %}
        <tr>
            <td>{{line.number}}</td>
            <td><a href="{% url 'item-detail' line.item_id%}">{{line.item}}</a></td>
            <td>{{line.batch}}</td>
            <td>{{line.quatity_requested}}</td>
            <td>{{line.unit_price}}</td>
            <td>{{line.expiry_date}}</td>
            <td>{{line.total}}</td>
            <td>{{line.markup}}</td>
            <td>{{line.quantity_received}}</td>
            <td>{{line.invoice_no}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}