{% extends "inventory/base.html" %}
{% block title %}
    Purchase Credit Memo Details
{% endblock %}
{% block content %}
    <h1>Purchase Credit Memo Card</h1>
    <ul>
        <li><strong>Number:</strong>{{purchasecreditmemoheader.number}}</li>
        <li><strong>Vendor:</strong>{{purchasecreditmemoheader.vendor}}</li>
        <li><strong>Date:</strong>{{purchasecreditmemoheader.date}}</li>
        <li><strong>Total:</strong>{{purchasecreditmemoheader.amount}}</li>
        <li><strong>Created By:</strong>{{purchasecreditmemoheader.created_by}}</li>
    </ul>
    <h2>Purchase Credit Memo Lines</h2>
    <table>
        <tr>
            <th>Purchase Credit Memo Number</th>
            <th>Item</th>
            <th>Batch</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        {% for line in purchasecreditmemoheader.lines.all %}
        <tr>
            <td>{{line.number}}</td>
            <td>{{line.item}}</td>
            <td>{{line.batch}}</td>
            <td>{{line.unit_price}}</td>
            <td>{{line.quantity}}</td>
            <td>{{line.total}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}