{% extends "inventory/base.html" %}
{% block title %}
    Purchase Order Details
{% endblock %}
{% block content %}
    <h1>Purchase Order Card</h1>
    <ul>
        <li><strong>Number:</strong>{{purchaseheader.number}}</li>
        <li><strong>Vendor:</strong>{{purchaseheader.vendor}}</li>
        <li><strong>Date:</strong>{{purchaseheader.date}}</li>
        <li><strong>Total:</strong>{{purchaseheader.total}}</li>
        <li><strong>Status:</strong>{{purchaseheader.get_status_display}}</li>
        <li><strong>Created By:</strong>{{purchaseheader.created_by}}</li>
        <li><strong>Modified By:</strong>{{purchaseheader.modified_by}}</li>
        <li><strong>Modified:</strong>{{purchaseheader.last_modified_at}}</li>
    </ul>
    <h2>Purchase Order Lines</h2>
{% endblock %}