{% extends "inventory/base.html" %}

{% block title %}
    Sales Invoice Details
{% endblock %}
{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
    <a href="{% url 'inventory:invoices' %}">Back</a> | <a href="{% url 'inventory:invoiceprintout' salesheader.number %}" target="_blank">Generate PDF</a>
    <h1>Sales Invoice Card</h1>
    <a href="{% url 'inventory:invoice-update' salesheader.number %}">Edit</a>
    <ul>
        <li><strong>Number:</strong>{{salesheader.number}}</li>
        <li><strong>Customer:</strong>{{salesheader.customer}}</li>
        <li><strong>Date:</strong>{{salesheader.date}}</li>
        <li><strong>Amount:</strong>{{salesheader.amount}}</li>
        <li><strong>Finalized:</strong>{{salesheader.finalize}}</li>
        <li><strong>Created By:</strong>{{salesheader.created_by}}</li>
    </ul>
    <h2>Sales Invoice Lines</h2>
    <table>
        <tr>
            <th>Invoice Number</th>
            <th>Item</th>
            <th>Batch</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Discount</th>
            <th>Total</th>
        </tr>
        {% for line in salesheader.lines.all %}
        <tr>
            <td>{{line.number}}</td>
            <td><a href="{% url 'inventory:item-detail' line.item_id %}">{{line.item}}</a></td>
            <td>{{line.batch}}</td>
            <td>{{line.quantity}}</td>
            <td>{{line.unit_price}}</td>
            <td>{{line.discount}}</td>
            <td>{{line.total}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}