{% extends "inventory/base.html" %}
{% block title %}
    Sales Invoices
{% endblock %}
{% block content %}
    <h1>List of Sales invoices</h1>
    <a href="{% url 'inventory:invoice-create' %}">Add more invoice</a>
    <!-- <a href="{% url 'inventory:invoice-create' %}">Create Invoice</a> -->
    <ul>
        {% for invoice in salesheader_list %}
        <li><a href="{% url 'inventory:invoice-detail' invoice.number %}">{{invoice.number}}</a>&#124; {{invoice.customer}}&#124; Ksh.{{invoice.amount}} | <a href="{% url 'inventory:invoice-update' invoice.number %}">Edit</a></li>
        {% endfor %}
    </ul>
        
{% endblock %}