body {
    font-family: Arial, Helvetica, sans-serif;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    width:100%;
}
footer {
    text-align: center;
}
/* Responsive design: Flebox, Bootstrap SASS is good for styling  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

.logo {
    width: 70px;
} /* Consider removing plus the logo */

.header {
    width: auto; /* changed from 100% */
    /* min-height: 100vh; */
    /* background: #4477CE; */
    color: #525252;
}

nav {
    width: auto; /* changed from 100% */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
    /* background: #1a1a1a1a; */
    position: relative;
}

nav ul {
    width: 100%; /* changed from 100% */
    text-align: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px; /* changed from 20px */
}

nav ul li a {
    /* color: #fff; */
    text-decoration: none;
}

.profile-user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.profile-sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.profile-sub-menu-wrap.open-menu {
    max-height: 400px;
}

.profile-sub-menu {
    background: #8CABFF; /* consider changing */
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.profile-sub-menu hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 15px 0 10px;
}

/* position the user info */
.profile-user-info {
    display: flex;
    align-items: center;
    position: relative;
}

.profile-user-info h3 {
    font-weight: 500;
}

.profile-user-info h5 {
    font-weight: 500;
    top: 65%;
    position: absolute;
    left: 29%;
}

.profile-user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.profile-sub-menu-link img {
    width: 24px;
    height: 24px;
    background-color: #e5e5e5;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-sub-menu-link p {
    width: 100%;
}

/* Menus */
.menu-link {
    text-decoration: none;
    color: #fff;  
    font-weight: bold;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
}
.register-login-menu {
    display: flex;
    align-items: center;
    /* background-color: #4477CE;   */
    border-radius: 5px;
    padding: 5px 10px;
}



.menu-link:hover {
    background-color: #365a9c;  
    color: #fff;
}

.menu-separator {
    margin: 0 5px;
    color: #fff;
}

.pagination {
    text-align: center;
}

.pagination a {
    padding: 8px;
    text-decoration: none;
    background-color: #f2f2f2;
    color: #333;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination .current-page {
    font-weight: bold;
}

.step-links {
    text-align: center;
    margin-top: 10px;
}

.step-links a {
    padding: 8px 12px;
    text-decoration: none;
    background-color: #337ab7;
    color: #fff;
    border: 1px solid #337ab7;
    margin: 2px;
    border-radius: 3px;
}

.step-links a:hover {
    background-color: #235a92;
    border: 1px solid #235a92;
}

.step-links .current-page {
    font-weight: bold;
    color: #333;
}

.current-page {
    font-weight: bold;
    color: #333; /* Text color for the current page indicator */
    background-color: #f2f2f2; /* Background color for the current page indicator */
    padding: 4px 8px; /* Padding for the indicator */
    border: 1px solid #ccc; /* Border around the indicator */
    border-radius: 3px; /* Rounded corners for the indicator */
}

